.parametres-img {
    height: 200px;
    margin-bottom: 20px;
}
.flexe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cage {
    margin: 30px;
}
p {
    font-size: large;
}