.create-one-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.create-test-btn-to-par-two {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

.photo {
    border-radius: 12px !important;
    overflow: hidden;
}