.background {
    --background: url('./assets/login.jpeg') no-repeat center/cover fixed;
}
.back {
    width: 70%;
    margin: auto;
    margin-top: 80%
}
img {
    background: none;
}
.dorine {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.btn {
    width: 70%;
    margin-left: 15%;
}