.background-container {
    /* height: 200px; */
    background-image: url("../../assets/AdobeStock_202538386-1024x683.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}