.background {
    --background: url('./assets/login.jpeg') no-repeat center/cover fixed;
}
.back {
    width: 70%;
    margin: auto;
    margin-top: 80%
}
.flex {
    display: flex;
    flex-direction: column;
    height: 90%;

}
.btn {
    width: 60%;
    margin-left: 20%;
}